*{
    background-size:100% 100% ;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-image: url(../images/fondo3.jpg);
}

/*NAVBAR*/
 .navBar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .navBar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
 }
 .navBar ul li a{
    text-decoration: none;
    color: black;
    font-family: Roboto,"sans-serif";
    font-size: 1.2rem;
 }
/*MOVIMINETO DE LINEA ABAJO DE LOS ENUNCIADOS*/
 .navBar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition:0.4s ease-out;
 }
 .navBar ul li:hover::before{
    width: 100%;
 }



/*FORMULARIO*/

.formulario{
width: 500px;
background:#24303c;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'calibri';
color: white;
box-shadow: 7px 13px 37px #000;
}
.formulario h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    
}

.formulario .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 10px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 16px;
}

/*FOOTER*/

.footer{
   text-align: center;
   background-color: #1f53c5;
   color: aliceblue;
}
